/* font link */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Afacad Flux", sans-serif;
}

body {
    margin: 15px;
}

input {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}

.add-btn,
.delete-btn,
.submit-btn {
    padding: 10px 15px;
    border: 0;
    border-radius: 4px;
    margin: 5px;
}

.add-btn {
    color: #fff;
    background-color: green;
}

.delete-btn {
    color: #fff;
    background-color: red;
}

.submit-btn {
    color: #fff;
    background-color: blue;
}
a {
    cursor: pointer;
}
.suggestions-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 10;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 2px 0 0 0;
    border-radius: 4px;
}

.suggestions-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}

.GeneralInfo input {
    margin: 10px 0;
    padding: 7px 15px;
    border: 1px solid gray;
    max-width: 250px;
}

.hardnessSamples {
    /* border: 1px solid; */
    display: grid;
    place-items: center;
}